# Dependencies
node_modules
**/node_modules

# Build outputs
.next
**/dist
**/.turbo

# Development
.git
.gitignore
*.md
LICENSE
.env*.local
.vscode
.idea

# Tests
**/*.test.*
**/*.spec.*
**/coverage
**/__tests__

# Misc
*.log
.DS_Store
Thumbs.db
